.body {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  font-family: "Roboto Serif";
  font-style: normal;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-items: center; */
  font-size: 22px;
  /* padding-left: 10px; */
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

.list-items {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 15px;
  margin-bottom: 120px;
}
.banner-title-1 {
  font-size: 30px;
}
.banner-title-2 {
  font-size: 45px;
}
.banner p {
  font-size: 25px;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 8px;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(251, 108, 108);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Hover effect */
.btn:hover {
  background-color: #45a049;
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
  padding-left: 25px;
  padding-right: 15px;
}
.about p {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: justify;
}

.about-title-1 {
  font-size: 35px;
}

.services {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: justify;
}

.services h1 {
  font-size: 30px;
  text-align: center;
}
.services h3 {
  font-size: 30x;
  text-align: justify;
  letter-spacing: 1px;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.box {
  width: 150px;
  height: 100px;
  background-color: rgb(244, 240, 246);
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(182, 118, 207);
  font-weight: bold;
}

.skills h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.container-2 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.info {
  flex: 1;
  margin-right: 20px;
}

.info h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.info p {
  font-size: 20px;
  margin-bottom: 5px;
}

.form {
  flex: 1;
}

.form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  justify-items: center;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #0a19e4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #ebd9ef;
  margin-top: 50px;
  padding: 20px 0;
  margin-bottom: 400px;
}

.container-3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* color: black; */
}

.interests {
  display: flex;
  justify-content: space-between;
}

.interest {
  flex: 1;
  text-align: left;
  margin: 0 10px;
}
.interest-2 {
  margin: 20px;
}

.interest h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.interest p {
  font-size: 16px;
  line-height: 1.5;
}

.footer-title {
  text-align: center;
}
.services p {
  font-size: 20px;
  letter-spacing: 1px;
  font-style: normal;
}

.social-icons img {
  width: 35px;
  height: 30px;
  gap: 5px;
  border: 1px solid rgb(223, 222, 222);
  cursor: pointer;
}
